<div class="app-navbar">
<ul class="w3-bar w3-blue navbar-fixed-top">
  <li class="w3-bar-item w3-button w3-mobile" style="margin-left:20px" role="presentation"><a ui-sref="home">Página inicial</a></li>
  <li class="w3-bar-item w3-button w3-mobile" role="presentation"><a ui-sref="playlists">Playlists</a></li>
  <li class="w3-bar-item w3-button w3-mobile" ng-click="homeCtrl.logout() || profileCtrl.logout() || pvCtrl.logout() || playlistCtrl.logout() || musiCtrl.logout()" style="float: right; margin-right: 10px;" role="presentation"><a>Sair</a></li>
</ul>
</div>